<nav class="darken-3">
  <div class="container">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center">StoryBook</a>
      {{!--
      <a href="#" data-activates='main-menu' class="button-collapse show-on-large">
        <i class="fa fa-bars"></i>
      </a> --}}
      <a href="#" data-target="slide-out" class="sidenav-trigger">
        <i class="fa fa-bars"></i>
      </a>
      {{!-- Right Nav --}}
      <ul class="right hide-on-small-only">
        {{#if user}}
        <li>
          <a href="/dashboard">Welcome {{user.firstName}}</a>
        </li>
        <li>
          <a href="/auth/logout" class="fa fa-sign-out">Logout</a>
        </li>
        {{else}}
        <li>
          <a href="/stories">
            <i class="fa fa-book left"></i>Public Stories</a>
        </li>
        {{/if}}
      </ul>
      {{!-- Right Nav --}}
      <ul id="slide-out" class="sidenav">
        <li>
          <li><a href="/stories"><i class="fa fa-book"></i>Public Stories</a></li>
          <li class="divider"></li>
          {{#if user}}
          <li><a href="/dashboard"><i class="fa fa-cog"></i>Dashboard</a></li>
          <li><a href="/stories/my"><i class="fa fa-book"></i>My Stories</a></li>
          <li><a href="/auth/logout"><i class="fa fa-sign-out"></i>Logut</a></li>
          {{else}}
          <li><a href="/auth/google" class=""><i class="fa fa-google"></i>Login</a></li>
          {{/if}}
        </li>
      </ul>
    </div>
  </div>
</nav>