body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: #aaa;
  
}

h1 {
  color: #ee6e73;
}

.login-button {
  margin-top: 5rem;
}
 
main {
  flex: 1 0 auto;
}

.nav-wrapper fa-bars {
  font-size: 25px;
}

footer {
  margin-top: 1rem;
}

.story-text {
  height: 100px;
}

.dash-status {
  text-transform: capitalize;
}
.delete-form {
  display: inline;
}
.user-name {
  text-transform: capitalize;
}
p {
  font-family: 'Lobster', cursive;
  font-size: 2rem;
}