body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: rgba(0,0,0,0.87);
}

h1 {
  color: #ee6e73;
}


 
main {
  flex: 1 0 auto;
}

.nav-wrapper fa-bars {
  font-size: 25px;
}

footer {
  margin-top: 1rem;
}

.story-text {
  height: 100px;
}

.dash-status {
  text-transform: capitalize;
}
.delete-form {
  display: inline;
}