<h1 class="">
  Welcome to StoryBook</h1>

<h2>Register </h2>
<h3>Write</h3>
<h4>Share</h4>
{{#if user}}
{{else}}
<div class="login-button">
  <a href="/auth/google" class="btn pulse z-depth-3"><i class="fa fa-google left"></i>Login With Google</a>
</div>
{{/if}}