<h1 class="">
  Welcome to StoryBook</h1>

<h2>Where you can <span class="red-text">Register</span> <span class="green-text">Write</span> & <span class="blue-text">Share</span> your stories or maybe keep them private.</h2>
<h3>We leave that up to you.</h3>

{{#if user}}
{{else}}
<div class="login-button">
  <a href="/auth/google" class="btn z-depth-3"><i class="fa fa-google left"></i>Login With Google</a>
</div>
{{/if}}