<h1 class="flow-textt">
  Welcome to StoryBook</h1>

<h3 class="flow-textt">Create your own account, write stories and choose for them to be read by the world or maybe not, I leave it up to you.</h3>

<a href="/auth/google" class="btn red darken-3"><i class="fa fa-google left"></i>Login With Google</a>
