<h1 class="flow-textt">
  Welcome to StoryBook</h1>

<h5 class="welcome-text">Create your own account, write stories and choose for them to be read by the world or maybe not, I leave it up to you.</h5>
{{#if user}}
{{else}}
<a href="/auth/google" class="btn pulse z-depth-3"><i class="fa fa-google left"></i>Login With Google</a>
{{/if}}